#lp-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100vh;
    z-index: -1;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 60%;
    height: 100px;
}

.hoofdbalk {
    display: flex;
    flex-direction: row;
    align-content: end;
    justify-content: space-evenly;
    margin-left: 40%;
    width: 60%;
    height: 63px;
}

.home {
    display: flex;
    flex-direction: row;
    color: #DDD5CB;
    font-size: 24px;
    font-family: Times New Roman;
    margin-top: 16px;
}

.about {
    display: flex;
    flex-direction: row;
    color: #DDD5CB;
    font-size: 24px;
    font-family: Times New Roman;
    margin-top: 16px;
}

.projects {
    display: flex;
    flex-direction: row;
    color: #DDD5CB;
    font-size: 24px;
    font-family: Times New Roman;
    margin-top: 16px;
}

.contact {
    display: flex;
    flex-direction: row;
    color: #DDD5CB;
    font-size: 24px;
    font-family: Times New Roman;
    margin-top: 16px;
}

.lijn-mb {
    background-color: #DDD5CB;
    width: 100%;
    margin-top: 0px;
    height: 1px;
    margin: 0%;
}

/* text-lp*/
.textlp-container {
    display: flex;
    flex-direction: column;
    width: 342px;
    justify-content: flex-start;
    height: auto;
}

.textlp-h {
    color: #DDD5CB;
    font-family: Times New Roman;
    font-size: 30px;
}

.textlp-w {
    color: #DDD5CB;
    font-family: Times New Roman;
    font-size: 30px;
    margin-top: -5px;
}

.textlp-d {
    color: #DDD5CB;
    font-family: Times New Roman;
    font-size: 30px;
    margin-top: -5px;
}

/* text-lp*/
.logos-chj {
    display: flex;
    width: 100%;
    height: 100px;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

#projects {
    background-color: #182B44;
    padding: 0;
    text-align: center;
}

#projects nav ul {
    list-style-type: none;
    padding: 0;
}

#projects nav ul li {
    margin-bottom: 15px;
}

#projects nav ul li a {
    text-decoration: none;
    color: #DDD5CB;
    font-weight: bold;
    font-family: Times New Roman;
    font-size: 30px;
}

#projects nav ul li a:not(.projects) {
    font-size: 24px
}

#projects nav ul li a:hover {
    color: white;
}

#projects nav ul li.projects a {
    font-size: 30px;
}